services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:6767"   
    restart: unless-stopped
    command: uvicorn ttc_rider_api.main:app --host 0.0.0.0 --reload --port 6767

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    restart: unless-stopped
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8000

    depends_on:
      - backend
    command: npm run dev -- --host 0.0.0.0
